{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Carrito de compras</title>
</head>
<body>
    <h1>Carrito de compras</h1>
    <ul>
    {% for plato in platos %}
        <li>
            {{ plato.nombre }} - Precio: {{ plato.precio }} - Cantidad:
           <a href="{% url 'myapp:quitar_plato_carrito' plato_id=plato.id %}">  <button type="button" onclick="">-</button></a>
            {{ cantidades_por_plato|custom_get:plato.id }}
             <a href="{% url 'myapp:agregar_carrito' plato_id=plato.id %}"><button type="button" onclick="">+</button></a>
           <a href="{% url 'myapp:eliminar_plato_carrito' plato_id=plato.id %}"> <button type="button"  >Eliminar</button></a> 
        </li>
    {% endfor %}
    </ul>
    <p>Total: {{ total }}</p>


</body>
</html>